
<div class="conrainer center">
  <div class="card back shadow" style="width:60rem;">
    <div class="card-body">
      <h5 class="card-title text-primary prod p-1 m-1 rounded mb-4"><i class="fa fa-list" aria-hidden="true"></i> List des Produits</h5>
     <table class="table text-center ">
      <thead class="table-dark">
         <th class="fw-bolder">#</th>
         <th class="fw-bolder">Libelle</th>
         <th class="fw-bolder">Prix</th>
         <th class="fw-bolder">action</th>
      </thead>
      <tbody>
         <tr *ngFor="let product of products ;let i=index ">
            <td>{{i+1}}</td>
            <td>{{product.libelle}}</td>
            <td>{{product.prix}}</td>
            <td>
             <button (click)="deleteproduct(product.productid)"  class="btn btn-outline-danger mx-2"><i class="fa fa-trash" aria-hidden="true"></i></button>
             <button [routerLink]="['/update',product.productid,product.prix,product.libelle]" class="btn btn-outline-warning "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </td>
         </tr>
      </tbody>
    </table>
    <button routerLink="/add" class="btn btn-outline-success float-end"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter Produit</button>
   </div>
  </div>
</div>
